.apply{
    position: absolute;
    border: 2px solid black;
    margin: 20px;

}

h1{
    text-align: center;
    border: 1px solid black;
    width: 60%;
    padding: 5px;
    background-color: antiquewhite;
   
}

input{
    
    
    border: 1px solid black;
    width: 60%;
    margin: 40px;
    left: 10px;
}

ul{
    width: 60%;
    padding: 5px;
    background-color: beige;
}

button{
   position: absolute;
   left: 90%;
   bottom: 2px;
}
